
.container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.wrapper {
    flex: 3 1 auto;
    background-color: lightgrey;
}

aside {
    flex: 1 1 auto;
    margin-left: 20px;
    font-size: 1.5rem;
    padding: 20px;
    background-color: lightgrey;
}

/****/

.home {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home p {
    align-self: flex-end;
    padding: 20px 40px;
    font-size: 1.5rem;
}
.home h1 {
    font-size: 2.5rem;
}
.main-text {
    background-color: lightgrey;
    margin-top: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 60vh; */

}
.buttons {
    flex-flow: row wrap;
}
.button {
    background-color:white;
    color: black;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid black;
    width: 150px;
}
.button:hover {
    background-color: lightgray;
}

#articleTwo {
    padding-top: 50px;
}

#articleOne p {
    text-align: center;
}
